################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuanLySinhVien/FileContentIndex/0e0afdb2-565c-4625-a297-3d7c52e75b60.vsidx
/.vs/QuanLySinhVien/FileContentIndex/b98073af-ff6c-46b7-8ee3-da93979a2764.vsidx
/.vs/QuanLySinhVien/FileContentIndex/518481eb-0fe1-4490-8eb1-5517b8a8ac4d.vsidx
/.vs/QuanLySinhVien/FileContentIndex/84109f3d-7afd-40ec-8695-ef0a560bcc8b.vsidx
/.vs/QuanLySinhVien/FileContentIndex/de0ec6c3-f7bc-4694-979d-5518c02f479c.vsidx
/.vs/QuanLySinhVien/FileContentIndex/2ebb87f0-fa5c-4c47-ac23-84dcd15a30f3.vsidx
