################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuanLySinhVien/FileContentIndex/0e0afdb2-565c-4625-a297-3d7c52e75b60.vsidx
/.vs/QuanLySinhVien/FileContentIndex/b98073af-ff6c-46b7-8ee3-da93979a2764.vsidx
